@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .bg-background {
        background-color: hsl(var(--background));
    }
    .text-background {
        color: hsl(var(--background));
    }
    .bg-foreground {
        background-color: hsl(var(--foreground));
    }
    .text-foreground {
        color: hsl(var(--foreground));
    }
    .bg-card {
        background-color: hsl(var(--card));
    }
    .bg-card-foreground {
        background-color: hsl(var(--card-foreground));
    }
    .bg-popover {
        background-color: hsl(var(--popover));
    }
    .bg-popover-foreground {
        background-color: hsl(var(--popover-foreground));
    }
    .text-primary {
        color: hsl(var(--primary));
    }
    .text-primary-foreground {
        color: hsl(var(--primary-foreground));
    }
    .text-secondary {
        color: hsl(var(--secondary));
    }
    .text-secondary-foreground {
        color: hsl(var(--secondary-foreground));
    }
    .text-muted {
        color: hsl(var(--muted));
    }
    .text-muted-foreground {
        color: hsl(var(--muted-foreground));
    }
    .text-accent {
        color: hsl(var(--accent));
    }
    .text-accent-foreground {
        color: hsl(var(--accent-foreground));
    }
    .text-destructive {
        color: hsl(var(--destructive));
    }
    .text-destructive-foreground {
        color: hsl(var(--destructive-foreground));
    }
    .border-border {
        border-color: hsl(var(--border));
    }
    .bg-input {
        background-color: hsl(var(--input));
    }
    .ring-ring {
        --tw-ring-color: hsl(var(--ring));
        box-shadow: 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color),
            0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    }
    .ring-inset-ring {
        --tw-ring-inset: inset;
        --tw-ring-color: hsl(var(--ring));
        box-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color),
            var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    }
    .rounded {
        border-radius: var(--radius);
    }

    :root {
        --background: 0 0% 100%;
        --foreground: 285 19% 13%;
        --card: 0 0% 100%;
        --card-foreground: 285 19% 13%;
        --popover: 0 0% 100%;
        --popover-foreground: 285 19% 13%;
        --primary: 277 91% 42%;
        --primary-foreground: 209 0% 95%;

        --secondary: 249 60% 44%;
        --secondary-foreground: 209 0% 95%;
        --muted: 245 14% 89%;
        --muted-foreground: 245 10% 64%;
        --accent: 245 14% 89%;
        --accent-foreground: 256, 39%, 17%;
        --destructive: 342 97% 45%;
        --destructive-foreground: 209 0% 95%;
        --border: 245 14% 89%;
        --input: 245 14% 89%;
        --ring: 277 91% 42%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 285 19% 13%;
        --foreground: 209 20% 95%;
        --card: 285 19% 13%;
        --card-foreground: 209 0% 95%;
        --popover: 285 19% 13%;
        --popover-foreground: 209 0% 95%;
        --primary: 282 99% 42%;
        --primary-foreground: 209 0% 95%;
        --secondary: 247 59% 45%;
        --secondary-foreground: 209 0% 95%;
        --muted: 285 15% 23%;
        --muted-foreground: 285 6% 48%;
        --accent: 285 15% 23%;
        --accent-foreground: 209 0% 95%;
        --destructive: 342 83% 43%;
        --destructive-foreground: 209 0% 95%;
        --border: 285 15% 23%;
        --input: 285 15% 23%;
        --ring: 282 99% 42%;
    }
}


@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer base {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
